---
import Button from '@components/custom/Button.astro';

interface Props {
  pageTitle?: string;
}

const navigationItems = [
  { name: 'Home', url: `${import.meta.env.BASE_URL}/` },
  { name: 'Gallery', url: `${import.meta.env.BASE_URL}/gallery/` },
];

const socialIcons = [
  {
    name: 'GitHub',
    url: 'https://github.com/a-lgil/pose-depot',
    icon: 'i-uil-github',
  },
  /*
  {
    name: 'Twitter',
    url: 'https://www.twitter.com/eliancodes',
    icon: 'i-uil-twitter',
  },
  { 
    name: 'RSS',
    url: '/feed.xml',
    icon: 'i-uil-rss'
  },
  */
];

const { pageTitle } = Astro.props;
---

<header class='border-b-4 border-black flex justify-between p-6 items-center' style="background-color: #F4F0D9;">
  {pageTitle && <h1 class='hidden'>{pageTitle}</h1>}
  <a href={import.meta.env.BASE_URL + '/'} title='Back to Home'>
    <!-- SVG logo with hover effect class -->
    <img 
      src={import.meta.env.BASE_URL + '/logo/logo_black_text_red_green_blue_dots.svg'}
      alt='Pose Depot Logo' 
      class='h-13 md:h-21 logo-hover' 
      style='shape-rendering: geometricPrecision; margin-bottom: -0.8rem; margin-left: 0.18rem;' 
    />  
  </a>
  <nav class='hidden md:flex gap-4'>
    <h2 class='hidden'>Navigation</h2>
    <ul class='flex gap-4 poppins'>
      {
        navigationItems.map((item) => (
          <li>
            <Button href={item.url} target='_self'>
              {item.name}
            </Button>
          </li>
        ))
      }
      {
        socialIcons.map((item) => (
          <li>
            <Button href={item.url} target='_blank'>
              <div class:list={[item.icon, 'w-8 h-8 ml--3 mr--3 mt--1 mb--1']} />
              {/* {item.name} */}
            </Button>
          </li>
        ))
      }
    </ul>
  </nav>
  <nav class='md:hidden flex'>
    <h2 class='hidden'>Mobile Navigation</h2>
    <ul>
      <li>
        <Button href={import.meta.env.BASE_URL + '/gallery/'}>
          Gallery
        </Button>
      </li>
    </ul>
  </nav>
</header>

<style>
  /* Apply hover effect with drop-shadow */
  .logo-hover {
    transition-duration: 0.1s;
    animation: ease-in-out;
  }

  .logo-hover:hover {
    filter: none;
  }
</style>
